$boardBackground: #0079be;
$buttonActiveBackground: #b7b8b9;
$cardBackground: #e3e4e6;
$userLogoBackground: #d6dadd;
$menuBackground: #eeeff1;

$secondaryTextColor: #98999b;
$thirdTextColor: #4c4b4b;

$trans-time-and-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);